In [99]:
import pandas as pd

In [100]:
config = {
   
    'accounts': {
        'Cash Account': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'Bank A/c':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'CashEquivalents': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'ShortTermDeposits': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'AccountsReceivables': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        
        'Inventory': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'MarketableSecurities':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'OfficeSupplies':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'PrepaidExpenses':{'type':{'CurrentAsset':{'type':'ASSET'}}},

        'Land':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Building':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Machinery':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Equipment':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Patents':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Trademarks':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Goodwill':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Brand':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Copyrights':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Trade secrets':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Licenses And Permits':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Corporate Intellectual Property':{'type':{'FixedAsset':{'type':'ASSET'}}},


        'Accounts Payable':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        
        'Principal  & Interest ':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Outstanding_Salaries':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Wages':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Notes Payable':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Income Tax dues':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Mortagage':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Payroll':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Unearned income':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Accrued expenses':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Short Term Debt':{'type':{'Current_Liability':{'type':'LIABILITY'}}},

        'Principal':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Bonds':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Debentures':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Long term loans':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Deffered tax':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Lease Payments':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Pensions':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Mortagage':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},

        'Sales':{'type':{'Operating':{'type':'REVENUE'}}},
        'Rent revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Dividend revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Interest revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Contra revenue':{'type':{'Operating':{'type':'REVENUE'}}},

        'Interest Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Dividend Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Rental Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Gain on Sale of Assets':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Royalty Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Insurance Proceeds':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Foreign Exchange Gains':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Legal Settlements':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Miscellaneous Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},

        'Salaries':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Wages':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Marketing':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Advertising':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Promotion':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Selling':{'type':{'Operating':{'type':'EXPENSE'}}},
        'general, and administrative (SG&A)':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Rent and insurance':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Depreciation and amortization':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Other':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Interest':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Taxes':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Impairment charges':{'type':{'Operating':{'type':'EXPENSE'}}},
        
        'Rent':{'type':{'Fixed':{'type':'EXPENSE'}}},
        'Salaries, benefits, and wages (sometimes fixed and sometimes variable)':{'type':{'Fixed':{'type':'EXPENSE'}}},

        'Transaction fees':{'type':{'Variable':{'type':'EXPENSE'}}},
        'Commissions':{'type':{'Variable':{'type':'EXPENSE'}}},
        'Marketing and advertising (sometimes fixed and sometimes variable)':{'type':{'Variable':{'type':'EXPENSE'}}},

        
}}

data = []

for account, details in config['accounts'].items():
    account_type = list(details['type'].values())[0]['type']
    C2  = (list(details['type'].keys())[0])
   
    # balance_type = config['account_types'][account_type]['balance_type']

    data.append({
        'C1': account_type,
        'C2':C2,
        'C3': account
        # 'Balance Type': balance_type
    })

df = pd.DataFrame(data)
df['C4'] = df['C5'] = ''
df['G_CODE'] = df['C1'].map({'ASSET': 'G1', 'LIABILITY': 'G2','EXPENSE':'G4','REVENUE':'G5'})
# df['G2'] = df['Account Type'].apply(lambda x: 'G1' if x == 'ASSET' else 'G2')

config2 = {

    'accounts':{
        "Owner's Capital Account":{'type':'Capital'},
        "Partner's Capital Account":{'type':'Capital'},
        "Common Stock Account":{'type':'Capital'},
        "Retained Earnings Account":{'type':'Capital'},
        "Treasury Stock Account":{'type':'Capital'},
        "Contributed Surplus Account":{'type':'Capital'},
        "Legal Reserve Account":{'type':'Capital'},
        "Preferred Stock Account":{'type':'Capital'},
        "Partner's Drawing Account":{'type':'Capital'},
        "Member's Capital Account (LLC)":{'type':'Capital'}


    }
    }


data = []

for account, details in config2['accounts'].items():
   
    c = list(details.values())[0]

    data.append({
        'C1': c,
        'C2':account,
        
    })

    df2 = pd.DataFrame(data)
    df2['C3'] = ''
    df2['C4'] = df2['C5'] = ''
    df2['G_CODE'] = df2['C1'].map({'Capital':'G3'})
    # df['G2'] = df['Account Type'].apply(lambda x: 'G1' if x == 'ASSET' else 'G2')



main_df = pd.concat([df, df2], ignore_index=True)

In [101]:
# n = int(input("Please Enter How many ledger you want to insert"))

In [195]:
def enter_leger(C5):
    

    main_df = pd.read_excel('main_df.xlsx',engine='openpyxl')
    if C5.lower() in list(main_df['C5']) :
       print(f"Ledger Name {C5} already present")
       c1   = main_df.loc[main_df['C5'] == C5,'C1'].iloc[0]
       c2   = main_df.loc[main_df['C5'] == C5,'C2'].iloc[0]
       c3   = main_df.loc[main_df['C5'] == C5,'C3'].iloc[0]
       return c1,c2,c3

    C3 = input("Enter C3 (Account Name) ")
    C4 = input("Enter C4 (Sub ledger) ")
    
    if (main_df.loc[main_df['C3'] == C3, 'C5'] == '').any(): 
        if C4.lower() =='none':
            main_df.loc[main_df['C3'] == C3,'C4'] =  C3

        else:
            main_df.loc[main_df['C3'] == C3,'C4'] =  C4

        main_df.loc[main_df['C3'] == C3,'C5'] =  C5.lower()
        c1   = main_df.loc[main_df['C3'] == C3,'C1'].iloc[0]
        c2   = main_df.loc[main_df['C3'] == C3,'C2'].iloc[0]
        c3   = main_df.loc[main_df['C3'] == C3,'C3'].iloc[0]
        c4   = main_df.loc[main_df['C3'] == C3,'C4'].iloc[0]
        c5   = main_df.loc[main_df['C3'] == C3,'C5'].iloc[0]
        main_df.to_excel('main_df.xlsx')
        return c1,c2,c3

    else:
        if C4.lower() =='none':
            C4 =  C3
            
        c1 = main_df[main_df['C3']==C3]['C1'].iloc[0]
        c2 = main_df[main_df['C3']==C3]['C2'].iloc[0]
        c3 = main_df[main_df['C3']==C3]['C3'].iloc[0]
        g_code = main_df[main_df['C3']==C3]['G_CODE'].iloc[0]

        new_data = {'C1': c1, 'C2': c2, 'C3':c3 ,'C4':C4,'C5': C5.lower() , 'G_CODE':g_code}
        main_df = main_df.append(new_data, ignore_index=True)
        main_df.to_excel('main_df.xlsx')
        return c1,c2,c3

In [196]:
# main_df[main_df['C4']!='']

In [212]:
k  = {
    'J1 - Journal Number':[],
    'J2 - Date' :  [],
    'J3 - Invoice_Ref_Number' : [],
    'J4 - Ledger_Name' : [],
    'J5 - Opening Balance' :[],
    'J6 - Dr Amount' : [],
    'J7 - Cr Amount' : [],
    'J8 - Closing Balance' : [],
    'J9 - Description/Narration' : [],
}

In [213]:
df = pd.read_excel('s3.xlsx',engine='openpyxl')

In [214]:
from dr_cr_rule import ASSET_Expense_Accounting

In [215]:
for i in range(len(df)):
    en = df.iloc[i]
    tx = en['Tax']
    sys = ASSET_Expense_Accounting()
    
    date = en['Invoice Date']
    invoice_number = en['Invoice Number']
    journal_number = 'S00'+str(i)
    
    def To_Entry():
        l1 = en['To']
        print(l1)
        if l1.lower() not  in list(main_df['C5']) :
            c1,c2,c3 = enter_leger(l1.lower())
    
        if c1 == 'ASSET' or c1=='EXPENSE':
            dr = sys.debit_transaction(en['Total'])
            cr = 0
    
            k['J8 - Closing Balance'].append(dr)
            k['J5 - Opening Balance'].append(0)
            k['J9 - Description/Narration'].append('Sales')
            k['J3 - Invoice_Ref_Number'].append(invoice_number)
            k['J4 - Ledger_Name'].append(l1)
            k['J2 - Date'].append(date)
            k['J1 - Journal Number'].append(journal_number)
            
            k['J6 - Dr Amount'].append(dr)
            k['J7 - Cr Amount'].append(cr)
    
    def tax_igst_entry():
        igst_c5 = 'tax igst' + ' ' + str(tx) + '%'
        print(igst_c5)
    
        if igst_c5.lower() not  in list(main_df['C5']) :
            c1,c2,c3 = enter_leger(igst_c5.lower())
    
        if c1 == 'ASSET' or c1=='EXPENSE':
            amu = en['Tax IGST']
            cr = sys.credit_transaction(amu)
            print(cr)
            dr = 0
    
            k['J8 - Closing Balance'].append(cr)
            k['J5 - Opening Balance'].append(0)
            k['J9 - Description/Narration'].append('Sales')
            k['J3 - Invoice_Ref_Number'].append(invoice_number)
            k['J4 - Ledger_Name'].append(igst_c5)
            k['J2 - Date'].append(date)
            k['J1 - Journal Number'].append(journal_number)
            
            k['J7 - Cr Amount'].append(cr)
            k['J6 - Dr Amount'].append(dr)
    
    
    def tax_cgst_entry():
        cgst_c5 = 'tax cgst' + ' ' + str(tx) + '%'
        print(cgst_c5)
    
        if cgst_c5.lower() not  in list(main_df['C5']) :
            c1,c2,c3 = enter_leger(cgst_c5.lower())
    
        if c1 == 'ASSET' or c1=='EXPENSE':
            tc = en['Tax CGST']
            cr = sys.credit_transaction(tc)
            dr = 0
            k['J8 - Closing Balance'].append(cr)
            k['J5 - Opening Balance'].append(0)
            k['J9 - Description/Narration'].append('Sales')
            k['J3 - Invoice_Ref_Number'].append(invoice_number)
            k['J4 - Ledger_Name'].append(cgst_c5)
            k['J2 - Date'].append(date)
            k['J1 - Journal Number'].append(journal_number)
            
            k['J7 - Cr Amount'].append(cr)
            k['J6 - Dr Amount'].append(dr)
    
    def To_Sales():
        sales = 'To Sales'
        print(sales)
        if sales.lower() not  in list(main_df['C5']) :
            c1,c2,c3 = enter_leger(sales.lower())
    
        if c1 == 'ASSET' or c1=='EXPENSE':
            amu = en['Amount']
            cr = sys.credit_transaction(amu)
            dr = 0
            
            k['J8 - Closing Balance'].append(cr)
            k['J5 - Opening Balance'].append(0)
            k['J9 - Description/Narration'].append('Sales')
            k['J3 - Invoice_Ref_Number'].append(invoice_number)
            k['J4 - Ledger_Name'].append(sales)
            k['J2 - Date'].append(date)
            k['J1 - Journal Number'].append(journal_number)
            
            k['J7 - Cr Amount'].append(cr)
            k['J6 - Dr Amount'].append(dr)
    
    
    To_Entry()
    tax_igst_entry()
    tax_cgst_entry()
    To_Sales()

KPMG
Ledger Name kpmg already present
tax igst 12%
Ledger Name tax igst 12% already present
600
tax cgst 12%
Ledger Name tax cgst 12% already present
To Sales
Ledger Name to sales already present
Delloite
Ledger Name delloite already present
tax igst 5%
Ledger Name tax igst 5% already present
375
tax cgst 5%
Ledger Name tax cgst 5% already present
To Sales
Ledger Name to sales already present
Capegemini
Ledger Name capegemini already present
tax igst 28%
Ledger Name tax igst 28% already present
3500
tax cgst 28%
Ledger Name tax cgst 28% already present
To Sales
Ledger Name to sales already present
SBI

Enter C3 (Account Name)  AccountsReceivables
Enter C4 (Sub ledger)  AccountsReceivables

tax igst 12%
Ledger Name tax igst 12% already present
2100
tax cgst 12%
Ledger Name tax cgst 12% already present
To Sales
Ledger Name to sales already present
HDFC

Enter C3 (Account Name)  AccountsReceivables
Enter C4 (Sub ledger)  AccountsReceivables

tax igst 28%
Ledger Name tax igst 28% already present
5600
tax cgst 28%
Ledger Name tax cgst 28% already present
To Sales
Ledger Name to sales already present
Infosys

Enter C3 (Account Name)  AccountsReceivables
Enter C4 (Sub ledger)  AccountsReceivables

tax igst 12%
Ledger Name tax igst 12% already present
2400
tax cgst 12%
Ledger Name tax cgst 12% already present
To Sales
Ledger Name to sales already present
IBM

Enter C3 (Account Name)  AccountsReceivables
Enter C4 (Sub ledger)  AccountsReceivables

tax igst 12%
Ledger Name tax igst 12% already present
3600
tax cgst 12%
Ledger Name tax cgst 12% already present
To Sales
Ledger Name to sales already present
Google

Enter C3 (Account Name)  AccountsReceivables
Enter C4 (Sub ledger)  AccountsReceivables

tax igst 18%

Enter C3 (Account Name)  Taxes
Enter C4 (Sub ledger)  gst

13500
tax cgst 18%

Enter C3 (Account Name)  Taxes
Enter C4 (Sub ledger)  gst

To Sales
Ledger Name to sales already present
Meta

Enter C3 (Account Name)  AccountsReceivables
Enter C4 (Sub ledger)  AccountsReceivables

tax igst 18%
Ledger Name tax igst 18% already present
16200
tax cgst 18%
Ledger Name tax cgst 18% already present
To Sales
Ledger Name to sales already present

In [219]:
led_df = pd.DataFrame(k)
led_df

,J1 - Journal Number,J2 - Date,J3 - Invoice_Ref_Number,J4 - Ledger_Name,J5 - Opening Balance,J6 - Dr Amount,J7 - Cr Amount,J8 - Closing Balance,J9 - Description/Narration
0,S000,2024-01-15,AF2223-026868,KPMG,0,11200,0,11200,Sales
1,S000,2024-01-15,AF2223-026868,tax igst 12%,0,0,600,600,Sales
2,S000,2024-01-15,AF2223-026868,tax cgst 12%,0,0,600,600,Sales
3,S000,2024-01-15,AF2223-026868,To Sales,0,0,10000,10000,Sales
4,S001,2024-01-17,AF2223-026869,Delloite,0,15750,0,15750,Sales
5,S001,2024-01-17,AF2223-026869,tax igst 5%,0,0,375,375,Sales
6,S001,2024-01-17,AF2223-026869,tax cgst 5%,0,0,375,375,Sales
7,S001,2024-01-17,AF2223-026869,To Sales,0,0,15000,15000,Sales
8,S002,2024-01-19,AF2223-026870,Capegemini,0,32000,0,32000,Sales
9,S002,2024-01-19,AF2223-026870,tax igst 28%,0,0,3500,3500,Sales
10,S002,2024-01-19,AF2223-026870,tax cgst 28%,0,0,3500,3500,Sales
11,S002,2024-01-19,AF2223-026870,To Sales,0,0,25000,25000,Sales
12,S003,2024-01-21,AF2223-026871,SBI,0,39200,0,39200,Sales
13,S003,2024-01-21,AF2223-026871,tax igst 12%,0,0,2100,2100,Sales
14,S003,2024-01-21,AF2223-026871,tax cgst 12%,0,0,2100,2100,Sales
15,S003,2024-01-21,AF2223-026871,To Sales,0,0,35000,35000,Sales
16,S004,2024-01-23,AF2223-026872,HDFC,0,51200,0,51200,Sales
17,S004,2024-01-23,AF2223-026872,tax igst 28%,0,0,5600,5600,Sales
18,S004,2024-01-23,AF2223-026872,tax cgst 28%,0,0,5600,5600,Sales
19,S004,2024-01-23,AF2223-026872,To Sales,0,0,40000,40000,Sales
20,S005,2024-01-25,AF2223-026873,Infosys,0,44800,0,44800,Sales
21,S005,2024-01-25,AF2223-026873,tax igst 12%,0,0,2400,2400,Sales
22,S005,2024-01-25,AF2223-026873,tax cgst 12%,0,0,2400,2400,Sales
23,S005,2024-01-25,AF2223-026873,To Sales,0,0,40000,40000,Sales
24,S006,2024-01-27,AF2223-026874,IBM,0,67200,0,67200,Sales
25,S006,2024-01-27,AF2223-026874,tax igst 12%,0,0,3600,3600,Sales
26,S006,2024-01-27,AF2223-026874,tax cgst 12%,0,0,3600,3600,Sales
27,S006,2024-01-27,AF2223-026874,To Sales,0,0,60000,60000,Sales
28,S007,2024-01-29,AF2223-026875,Google,0,177000,0,177000,Sales
29,S007,2024-01-29,AF2223-026875,tax igst 18%,0,0,13500,13500,Sales
30,S007,2024-01-29,AF2223-026875,tax cgst 18%,0,0,13500,13500,Sales
31,S007,2024-01-29,AF2223-026875,To Sales,0,0,150000,150000,Sales
32,S008,2024-01-31,AF2223-026876,Meta,0,212400,0,212400,Sales
33,S008,2024-01-31,AF2223-026876,tax igst 18%,0,0,16200,16200,Sales
34,S008,2024-01-31,AF2223-026876,tax cgst 18%,0,0,16200,16200,Sales
35,S008,2024-01-31,AF2223-026876,To Sales,0,0,180000,180000,Sales

In [220]:
led_df.to_excel('Sales_Ledger_Entry.xlsx')